#center-text {
  background: lightblue;
  height: 100rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 10.5rem;
}

#top-line {
  background: lightgreen;
  height: 10rem;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}
#video-player {
  background: lightgray;
  height: 100rem;
  width: 125rem;
  position: fixed;
  left: 15rem;
}
#search-box {
  height: 12%;
  width: 45%;
  border: 25%;
}
#main {
  border: 25rem;
  padding-right: 25%;
}
#home-logo {
  width: 10%;
  height: 70%;
  border: 10%;
  padding-right: 10%;
}
#Home-btn:hover {
  color: black;
}
